.info-block {
	margin-top: 3.5rem;
	// background-color: #cd5555;

	display: flex;
	flex-direction: row;

	padding: 10px 0;

	&__image {
		width: 50%;

		display: flex;
		align-items: center;
		justify-content: center;

		// background-image: url(../../img/1.PNG);
		// background-repeat: no-repeat;
		// background-position: center;
		// background-size: contain;
		// &__img {
		// 	// width: 100%;
		// 	width: 20px;
		// 	// height: auto;

		// 	// display: block;
		// }
	}

	&__text-block {
		width: 50%;

		padding: 0px 0px 0px 30px;
	}
}
.image {
	&__img {
		width: 100%;
		// width: 20px;
		height: auto;

		display: block;
	}
}
.text-block {
	&__title {
		&__headline {
			font-size: 2rem;
			background-color: #715454;

			font-weight: 900;
		}
	}

	&__text {
		margin-top: 1rem;

		line-height: 1.5;
		font-size: 2rem;
	}
}

.reverse {
	flex-direction: row-reverse;
}
.info-block.reverse {
	.info-block__text-block {
		width: 50%;

		padding: 0px 30px 0px 0px;

		// background-color: #5e3c3c;
	}
}

.main {
	&__container {
	}
}
.info-block {
	margin-top: 3.5rem;
	// background-color: #cd5555;

	display: flex;
	flex-direction: row;

	padding: 10px 0;

	&__image {
		width: 50%;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__text-block {
		width: 50%;

		padding: 0px 0px 0px 20px;
	}
}
.image {
	&__img {
		width: 100%;
		// width: 20px;
		height: auto;

		display: block;
	}
}
.text-block {
	&__title {
		max-width: 100%;

		word-wrap: break-word;

		text-align: center;
		// display: flex;
		// align-items: center;
		// justify-content: center;
	}

	&__text {
		margin-top: 1rem;

		font-family: "Roboto Slab";
		// font-size: 36px;

		// корочу володя слушай внимательно!!!!!!!!!!
		// 1 циверка это минимальный размер шрифта,который будет на мобилке 320px
		// потом идет 2 одинкаовых циферки это ты берешь максимальный размер шрифта и из него вычитаешь минимальный
		// больше ничего не меняй.можешь пользоваться моей формулой для адаптивного шрифта)

		font-size: calc(16px + (10 + 10 * 0.7) * ((100vw - 320px) / 1306));
		line-height: 1.5;
	}
}
.title {
	&__headline {
		max-width: 100%;

		// font-size: 2rem;
		font-size: calc(20px + (20 + 20 * 0.7) * ((100vw - 320px) / 1306));
		font-weight: 900;

		// text-align: center;
		// display: flex;
		// justify-content: center;
	}
}
// ====================================
.reverse {
	flex-direction: row-reverse;
}
.info-block.reverse {
	.info-block__text-block {
		width: 50%;

		padding: 0px 20px 0px 0px;

		// background-color: #5e3c3c;
	}
}
.underline {
	text-decoration: underline;
	text-decoration-color: rgb(231, 167, 220);
	text-underline-offset: 16px;
	text-decoration-thickness: 3px;
}
// ====================================

@media (max-width: 669.98px) {
}
/* mobile */
@media (max-width: 767.98px) {
}

/* mobile small*/
@media (max-width: 565.98px) {
	.info-block {
		flex-direction: column-reverse;

		padding: 10px 0;

		&__image {
			width: 100%;
		}

		&__text-block {
			width: 100%;

			padding: 0;
		}
	}

	.info-block.reverse .info-block__text-block {
		width: 100%;

		// padding: 0px 30px 0px 0px;
		padding: 0;
	}
}
