.hello {
	padding: 250px 0px 250px 0px;
	// min-height: 100vh;

	background-image: url(../img/hello-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	overflow: hidden;
	&__inner {
		display: flex;
		position: relative;
	}
	&__container {
		// align-items: center;
		// max-height: 378px;
		// flex: 1 1 auto;
		// overflow: hidden;
	}
	&__content {
		z-index: 2;
		width: 60%;
		// padding: 21px 70px 30px 0px;
		flex-direction: column;
		align-items: center;
	}

	&__subtitle {
		display: flex;
		left: 0;
		height: 44px;
		font-weight: 700;
		font-family: "Roboto Slab";
		font-style: normal;
		font-size: 1.33rem;
		line-height: 3.2;
		align-items: center;
		color: rgb(0, 0, 0);
		span {
			padding-left: 9px;
		}
	}

	&__title {
		height: 94px;
		font-family: "Roboto Slab";
		font-style: normal;
		font-weight: 800;
		font-size: 5.33rem;
		line-height: 127px;
		display: flex;
		align-items: center;
		color: rgb(0, 0, 0);
	}
	.next {
		margin-left: 70px;
	}
	&__image {
		width: 55%;
		overflow: hidden;
		position: absolute;
		// top: -145px;
		top: -60px;
		right: 0;
		filter: drop-shadow(34px 4px 4px rgba(0, 0, 0, 0.15));
		text-align: center;
	}
	img {
		width: 100%;
		height: 100%;
	}
}
// .hello::after {
// 	background-image: url(../img/hello-bacground.png);
// 	background-repeat: no-repeat;
// 	background-size: cover;
// 	backdrop-filter: blur(2000px);
// }
.yellow-text {
	color: #963687;
}
.button {
	cursor: pointer;
	margin-top: 29px;
	width: 275px;
	height: 66px;
	padding: 20px 46px;
	display: flex;
	// text-align: center;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	border-radius: 15px;
	border: 3px solid rgba(136, 101, 108, 0.635);
	background-color: rgba(243, 155, 170, 0.635);
	&__contacnt {
		background: none;
		font-family: "Roboto Slab";
		font-weight: 900;
		line-height: 1.1;
		font-size: 1.33rem;
	}
	&__right-arrow {
		width: 27px;
		height: 27px;
	}
	transition: border 0.3s ease 0s;
	&:hover {
		border: 4px solid rgb(243, 155, 170);
	}
	position: relative;
	top: 0;
	&:active {
		top: 3px;
	}
}

@media (max-width: 991.98px) {
	.hello__image {
		// width: 327px;
		// height: 436px;
		top: 0;
		right: 0;
		width: 60%;
	}
	.hello__title {
		// opacity: 0.6;
		font-size: 4.22rem;
	}
	.hello__title.next {
		margin-left: 0;
	}
	.hello {
		padding: 100px 0px 90px 0px;
	}
}

// планшеты поменьше картинка залезает под текст и ее проще убрать
@media (max-width: 669.98px) {
	.hello__image {
		display: none;
	}
	.hello__content {
		display: flex;
		justify-content: center;
		// flex-basis: 100%;

		width: 100%;
		height: 100%;
		// padding: 21px 70px 30px 0px;
	}
	.next {
		display: flex;
		justify-content: center;
	}
	.hello__subtitle {
		display: flex;
		justify-content: flex-start;
		flex-basis: 100%;
	}
}
/* mobile */
@media (max-width: 767.98px) {
	.hello__content {
		padding: 0px;
	}
	.hello {
		padding: 150px 0px;
	}
}

/* mobile small*/
@media (max-width: 565.98px) {
	.hello__subtitle {
		width: 307px;
		justify-content: flex-start;
	}
	.hello__title {
		font-size: 3.5rem;
	}
	.next {
		font-size: 2.8rem;
	}
	// .button{
	// 	width: 150px;
	// 	padding: 0px 6px;
	// }
}
